torch
torchvision
torchaudio
opencv-python>=4.9.0.80
diffusers>=0.31.0
transformers>=4.49.0
tokenizers>=0.20.3
accelerate>=1.1.1
tqdm
imageio
easydict
ftfy
dashscope
imageio-ffmpeg
flash_attn
gradio>=5.0.0
numpy>=1.23.5
fastapi
uvicorn
pydantic
huggingface_hub
pillow
ninja
pyyaml
einops
torchreid
packaging
scipy
opencv-python-headless
gdown
tensorboard
tensorboardX
protobuf
cython
xformers
triton
deepspeed
nvidia-pyindex
nvidia-tensorrt
bitsandbytes
py3nvml
fastertransformer
typer>=0.12